<div class="container">
	<div class="league-name">
		<h2><%= @league.name %></h2>
	</div>
	<div class="standings">
		<h2>Standings</h2>
		<!-- Current Users Name and Steps -->
		<li> <%= current_user.name %> | <%= @summary %> </li>
		<!-- Seeded Data Team Name and Steps -->
		<% @teams_sorted.each do |team| %>
			<li> <%= team.name %> | <%= team.steps %></li>
		<% end %>
	</div>
	<div class="sidebar">
		<h2>Matchups</h2>
		<div class="matchup">
			<div class="teams">
				<li><%= current_user.name %></a> </li>
				<% @teams.each do |team| %>
					<li><%= team.name %> </li>
				<% end %>
			</div>
			
			<div class="score">
				<li> <%= @summary %> </li>
				<% @teams_sorted.each do |team| %>
					<li> <%= team.steps %> </li>
				<% end %>

				<!-- @week_steps_summary.each do |key, value|
					key : value
				end -->
			</div>
		</div>
	</div>

	<div class="back"> <%= link_to 'Back', leagues_path %> </div>
</div>