<!DOCTYPE html>
<html>
<head>
  <title>HealthyCompetition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<h1>Healthy Competition</h1>
	<div class="signin">
		<% if current_user %>
			<span><%= link_to "Sign out", "/logout" %></span>
		<% else %>	
			<span><%= link_to "Sign in with FitBit", "/auth/fitbit" %> </span>
		<% end %>
	</div>
</header>



<%= yield %>

</body>
</html>
